
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Aturan umum: Hanya izinkan pengguna yang sudah login untuk membaca dan menulis.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }

    // Aturan lebih spesifik untuk folder 'products'
    match /products/{allPaths=**} {
      // Izinkan siapapun membaca gambar produk (untuk ditampilkan di toko)
      allow get;
      // Hanya izinkan pengguna terautentikasi (admin) untuk mengunggah/menghapus
      allow write: if request.auth != null;
    }

    // Aturan lebih spesifik untuk folder 'banners'
    match /banners/{allPaths=**} {
      // Izinkan siapapun membaca gambar banner
      allow get;
       // Hanya izinkan pengguna terautentikasi (admin) untuk mengunggah/menghapus
      allow write: if request.auth != null;
    }
  }
}
