
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to everyone to display images publicly.
    match /{allPaths=**} {
      allow read;
    }

    // Allow write access only to authenticated users (admins).
    // This rule is separate to avoid conflicts.
    match /{allPaths=**} {
      allow write: if request.auth != null;
    }
  }
}
